.chat-container {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 16px;
    margin-bottom: 16px;
    background-image: url("../images/Untitled design1.png");
   

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    
}

.container
{
    background-color: #f8f9fa;
}

.message {
    max-width: 75%;
    word-wrap: break-word;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message.from-me {
    background-color: #2B6DAE;
    color: white;
    justify-content: flex-end;
}

.message.from-them {
    background-color: #f8f9fa;
    color: #333;
    justify-content: flex-start;
}

.input-group .btn {
    margin-left: 8px;
}
