.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay.d-flex {
    display: flex;
}

/* Card Styling */
.post-card {
    width: 43%;
    max-height: 80vh;
    /* Ensures the card doesn't exceed 80% of the viewport height */
    margin: auto;
    z-index: 1060;
    display: flex;
    flex-direction: column;
}

/* Makes the card body scrollable when content exceeds max-height */
.card-body {
    flex: 1;
    overflow-y: auto;
}

/* Image Styling */
.img-preview {
    width: 100%;
    /* Full width of the card body */
    height: auto;
    /* Maintain aspect ratio */
    object-fit: cover;
    /* Zooms in and ensures the image fills the width */
}

.overlayImg{
    aspect-ratio: 1 / 1;
    /* 1:1 ratio */
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
}

.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}