@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Badeen+Display&family=Cairo:wght@200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: #f0f4f8;
    overflow-x: hidden;

}

.profile-img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

/* Search Input Styling */

.search-input {
    background-color: #f0f4f8;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    width: 200px;
}

.custom-btn {
    background-color: #2B6DAE;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.custom-btn:hover {
    background-color: #1f4f7a;
    color: white;
    /* Slightly darker shade for hover effect */
}

/* Job Card Styling */

.job-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
}

.job-card img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

/* More Button Styling */

.more-button {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.more-button:hover {
    background-color: #2B6DAE;
    color: #fff;
}

/* Sidebar Styling */

.sidebar {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Chat & Feed Item Styling */

.chat-item,
.feed-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.chat-item img,
.feed-item img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* Follow Button Styling */

.follow-button {
    border: 1px solid #2B6DAE;
    border-radius: 20px;
    padding: 4px 7px;
    color: #2B6DAE;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.follow-button:hover {
    background-color: #2B6DAE;
    color: #fff;
}

.custom-image {
    width: auto !important;
    /* height: 300px; */
}

section {
    height: 80vh !important;
    display: flex !important;
    align-items: center !important;
}

.btn {
    border-radius: 0px !important;
    /* background-color: #277a1f; */
}

footer {
    /* background-color: #ddd; */
    height: 100px;
}

footer .container {
    padding-top: 50px;
}

/* spinner effect */
.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
    33% {
        background: #FFF;
        box-shadow: -24px 0 #2B6DAE, 24px 0 #FFF;
    }

    66% {
        background: #2B6DAE;
        box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }

    100% {
        background: #FFF;
        box-shadow: -24px 0 #FFF, 24px 0 #2B6DAE;
    }
}
