.interest-btn {
    color: #000000
    ; /* اللون الأزرق الافتراضي */
    background-color: #EAF0F7;
    transition: all 0.3s ease-in-out; /* تأثير الانتقال */
    border-radius: 1px !important;
}

.interest-btn:hover {
    background-color: #EAF0F7; /* لون عند المرور */
    color: #2B6DAE; /* لون الخط عند المرور */
    border-color: #2B6DAE;
}
.logo
{
    color: #2B6DAE;
}

.interest-btn.active {
    background-color: #EAF0F7; /* لون الخلفية عند التفعيل */
    color: #2B6DAE; /* لون النص عند التفعيل */
    border-color: #2B6DAE;
}