.list-group-item {
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    margin-bottom: 10px;
}

.list-group-item:hover {
    background-color: #f5f5f5;
    /* transform: scale(1.02); */
}

.btn-primary {
    border-radius: 20px;
    font-weight: bold;
}

img {
    border: 2px solid #ddd;
    padding: 5px;
}
