.active-item {
    color: var(--color-primary) !important;
    background: var(--color-bg-blue-light) !important;
    border-radius: 0px !important;
    transition: 1.3s ease !important;
    font-weight: 600 !important;
}

.active-item:hover {
    color: var(--color-primary) !important;
    background: var(--color-bg-blue-light) !important;
    border-radius: 0px !important;
    transition: 1.3s ease !important;
    font-weight: 600 !important;
}
