.navbar-brand {
    color: #1e4b8b;
}

.form-control {
    width: 250px;
    background-color: #f0f4fb;
}

strong {
    color: #2B6DAE;
}

.navbar-icons {
    display: flex;
    justify-content: flex-end;
}

.navbar-icons a {
    color: #333333d4;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: -7px -7px; /* تقليل المسافة الأفقية بين الروابط */
}

.navbar-icons i {
    font-size: 22px; /* حجم الأيقونة */
    margin-bottom: 2px; /* تقليل المسافة بين الأيقونة والنص */
}

.navbar-icons .nav-link span {
    font-size: 12px; /* حجم النص */
}

.dropdown {
    display: flex !important;
}

.dropdown .nav-link i {
    font-size: 30px; /* حجم الأيقونة */
    vertical-align: middle; /* لضمان محاذاة الأيقونة مع النص */
}

.dropdown .nav-link span {
    font-size: 18px; /* حجم النص */
}