.navbar-brand {
    color: #2B6DAE;
}

.form-control {
    width: 250px;
    background-color: #f0f4fb;
}

.navbar-icons a {
    color: #333333c4;
}

a strong {
    color: #2B6DAE;
}

.navbar-icons i {
    margin-right: 0px;
    font-size: 20px;
}

.nav-link{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navbar-icons{
    display: flex;
}

.dropdown{
    display: flex !important;
}

