

.btn-primary {
    background-color: #2B6DAE;
    border-color: #2B6DAE;
    border-radius: 30px;

}
.btn {
   
    border-radius: 30px;

}
.list-group-item {
    border-bottom: none;
}
.end{

        border-bottom: 1px solid #0000002c;
  
}

.btn-outline-primary {
    color: #2B6DAE;
    border-color: #2B6DAE;
}

.btn-outline-primary:hover {
    background-color: #fff;
    color: #2B6DAE;
   
}

.btn-outline-danger:hover {
    background-color: #fff;
    color: darkred;
    border-radius: 30px;
    
}
