.container {
    margin-top: 5.5rem !important;
}

.profile-picture {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #ccc;
    object-fit: cover;
    border: 5px solid white;
    margin-top: -9rem !important;
    font-size: 180px;
    color: gray;
}

.btn-custom {
    border-radius: 20px;
}

.clickable-div {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.clickable-div:hover {
    background-color: #f8f9fa;
}

.options-card {
    position: absolute;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 200px ;
    left: 0px;
}

.options-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-card li {
    padding: 8px;
    cursor: pointer;
}

.options-card li:hover {
    background-color: #e2e6ea;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Custom scrollbar styling */
ul::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

ul::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the track */
}

ul::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar */
    border-radius: 4px;
    /* Rounded corners */
}

ul::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar on hover */
}

.pointer {
    cursor: pointer;
}

/* hover effect */
.pointer:hover {
    background-color: #f8f9fa;
}
